@import "./style/_reset.scss";
@import "./style/login";
@import "./style/lobby";

$blockThickness : 7px;

:root {
    --turn-red : #f3849c;
    --turn-blue : #8789f8;
}

#appDOMEntry {
    overflow: hidden;
    min-height: 100vh;
}

body , * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}

#container[turn="red"] {
    .divider , .column {
        &:hover {
            background-color: var(--turn-red);
            opacity: .4;
        }
    }
}

#container[turn="blue"] {
    .divider , .column {
        &:hover {
            background-color: var(--turn-blue);
            opacity: .4;
        }
    }
}

div [class*='rowContainer'] {
    display: flex;
}


div [class*='columnContainer'] {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#filledBoxesAreas {
    position: absolute;
    left: 0;
    top: 23px;
    width: 100%;
    height: 96%;
    display: flex;
    flex-wrap: wrap ;
    z-index: -1;
}


.filledBoxesAreas-box {
    width: 98px;
    margin: 0 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: .2s;
    opacity: 0.4;
}


.row {
    display: flex;
    margin: .5rem 0;

    .dot {
        width: 10px;
        height: 10px;
        background-color: #525251;
        border-radius: 50%;
        margin: 0 .5rem;

    }

    .divider {
        width: 100px;
        height: $blockThickness;
        border-radius: 10px;
        background-color: #e5e5e5;
        cursor: pointer;
        transition: .2s;
    }

    &:first-child {
        .dot {
            margin-left: 0;
        }
    }

}

.column {
    width: $blockThickness;
    height: 100px;
    border-radius: 10px;
    background-color: #e5e5e5;
    cursor: pointer;
    transition: .2s;
}


.blueLine {
    background-color: #8789f8 !important;

    &:hover {
        opacity: 1 !important;
    }
}

.redLine {
    background-color: #f3849c !important;
    &:hover {
        opacity: 1 !important;
    }
}

.masterContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        background-color: #040404;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 20px 40px -10px #b1b1b1;
        height: 65px;

        & > div {
            padding: 1rem;
            height: 50px;
            width: 150px;
            color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: white;
            }

            p {
                margin-left: .5rem;
            }


            &:first-child {
                background-color: var(--turn-blue);
            }

            &:last-child {
                background-color: var(--turn-red);
            }
        }
    }
}